/*Variables*/

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-gray: #666666;
  --basic-brown: #766357;
  --lightblue: #81b3d2;
  --lightblue-hover: #669ec0;
  --lightblue-focus: #5496bd;
  --text-color: #333333;
  --brown-hover: #604e43;
  --brown-focus: #503e33;
  --features-gray: #eeeeee;
  --form-gray: #f2f2f2;
  --gray-hover: #ebebeb;
  --gray-focus: #e5e5e5;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-repeat: no-repeat;

}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* Grid */

.page-body {
  height: 100%;
  background-color: var(--form-gray);
}
.inner-page {
  height: 100%;
  background-color: var(--form-gray);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-white);
  box-shadow: 0 0 10px 10px var(--gray-focus);
}


/* Main navigation */

.main-navigation {
  padding: 15px 72px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: var(--basic-black);
  position: relative;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-navigation li {
  width: 228px;
  text-align: left;
}
.site-navigation li:last-child {
  text-align: right;
}
.site-navigation li:nth-child(3) {
  text-align: right;
  margin-left: auto;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 2;
}

/* User navigation */

.site-navigation a {
  color: var(--basic-black);
}
.site-navigation a:hover {
  color: var(--lightblue);
}
.site-navigation a:active {
  color: var(--gray-focus);
}

/*Welcome group*/

.welcome-group {
  background-color: var(--basic-black);
  text-align: center;
  background-image: url("../img/background-photo.jpg");
  padding: 76px 370px 66px 370px;
  position: relative;
}
.welcome-group::after {
  content:"";
  width: 100%;
  height: 57px;
  background-image: url("../img/Shape.svg");
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
}

.description h3 {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 43px;
  padding: 52px 367px 0 367px;
}

.description p {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: var(--text-color);
  margin: 0;
  padding: 0 340px;
  padding-bottom: 51px;

}


/* Features */

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.feature-list h3 {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;

}
.benefits h3,
.benefits p {
  text-align: center;
}
.benefits h3 {
  width: 122px;
  margin: auto;
}
.city {
  padding: 50px;
}
.bridge {
  padding: 44px 41px 39px 41px;
}
.bridge h3 {
  width: 160px;
}
.number {
  margin-top: 22px;
  margin-bottom: 22px;
}
.bridge-number {
  margin-top: 27px;
  margin-bottom: 18px;
}

.city-image img {
  display: block;
}
.bridge-image img {
  display: block;
}

.feature-item-city,
.feature-item-bridge {
  color: var(--basic-white);
  background-color: var(--lightblue);
}

.benefits-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  text-align: center;
  align-items: start;
  padding: 0;
  position: relative;
  z-index: 3;
}

.feature-item-square,
.feature-item-road,
.feature-item-silence {
  color: var(--text-color);
  background-color: var(--features-gray);
}
.feature-item-square {
  padding: 44px 80px;
}
.feature-item-road {
  padding: 44px 60px;
}
.feature-item-silence {
  padding: 44px 75px;
}
.feature-item-city {
  display: grid;
  grid-template-columns: 400px 1fr;
}
.feature-item-bridge {
  display: grid;
  grid-template-columns: 1fr 400px;
}

/*Recommendations*/

.recommendations-list {
  display: flex;
  height: 329px;
  align-items: baseline;
  padding: 0;
  list-style: none;
  text-align: center;
}

.recommendations h3 {
  margin-bottom: 28px;
  font-size: 21px;
  line-height: 21px;
  position: relative;
}
.recommendations .home h3::before {
  content: "";
  position: absolute;
  transform: translateX(-3px) translateY(-95px);
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.recommendations .food h3::before {
  content: "";
  position: absolute;
  transform: translateX(-18px) translateY(-95px);
  width: 75px;
  height: 70px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.recommendations .gifts h3::before {
  content: "";
  position: absolute;
  transform: translateX(20px) translateY(-100px);
  width: 64px;
  height: 77px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.recommendations p {
  width: 297px;
  color: var(--text-color);
}

.recommend-item {
  padding: 140px 55px 57px 50px;
}

/* Hotel-search*/

.hotel-search {
  text-align: center;
}
.hotel-search-block {
  position: relative;
  z-index: 3;
  background-color: white;
}
.hotel-search h2 {
  text-align: center;
  font-size: 30px;
  line-height: 24px;
  padding-top: 54px;
  margin: 0;
}
.booking-info  {
  display: flex;
  flex-wrap: wrap;
  width: 435px;
  padding: 40px 383px;
  margin: 0;
}

.sedona-hotels {
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 30px 124px;
  width: 568px;
  height: 86px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}
.sedona-hotels:hover {
  background-color: var(--brown-hover);
}
.sedona-hotels:focus {
  background-color: var(--brown-focus);
  outline: none;
}
.sedona-hotels:active span {
  color: rgba(255, 255, 255, 0.5);
}

.booking-form .search-button {
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  width: 458px;
  height: 58px;
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  color: var(--basic-white);
  background-color: var(--lightblue);
}
.booking-form .search-button:hover {
  background-color: var(--lightblue-hover);
}
.booking-form .search-button:focus {
  outline: none;
  color: rgba(255, 255, 255, 0.5);
}
.booking-form {
  display: flex;
  flex-wrap: wrap;
  width: 568px;
  height: 395px;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  transform: translateX(316px);
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.3);
  z-index: 1;
}

.booking-form p:first-child {
  margin: 0;
  margin-top: 55px;
}

.booking-form label,
.booking-form input {
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}
.booking-form input {
  background-color: var(--form-gray);
  margin-left: 20px;
  border: 2px solid var(--form-gray);

}

.booking-form input:hover {
  background-color: var(--gray-hover);
}
.booking-form input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--gray-focus);
}

.booking-date p {
  margin: 0;
}

.booking-date input{
  width: 326px;
  height: 38px;
  padding-left: 11px;
  position: relative;
  outline: none;
}

.adults-kids {
  display: flex;
  justify-content: space-between;
  width: 458px;
  margin-bottom: 45px;
}

.adults-field input,
.kids-field input {
  font-family: inherit;
  font-size: inherit;
  width: 35px;
  height: 35px;
  text-align: center;
  margin: 0;
  padding: 0;
  outline: none;
}
.kids-field button,
.adults-field button {
  font-family: inherit;
  font-size: inherit;
  width: 38px;
  height: 38px;
  text-align: center;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

.adults-field button:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--gray-focus);
}
.kids-field button:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--gray-focus);
}
.adults-field,
.kids-field {
  display: flex;
  align-items: baseline;
}
.adults-field label {
  margin-right: 45px;
}
.kids-field label {
  margin-right: 25px;
}
.rectangle svg {
  padding-bottom: 4px;
}
.rectangle:hover rect,
.union:hover path {
  fill: var(--basic-black);
}
.rectangle:focus rect,
.union:focus path {
  fill: var(--lightblue-focus);
}

.calendar {
  position: absolute;
  width: 21px;
  height: 23px;
  transform: translateX(-34px) translateY(9px);
  background-color: transparent;
  border: none;
}
.calendar:hover path {
  fill: var(--basic-black);
}
.calendar:focus path {
  fill: var(--lightblue-focus);
}
.calendar:focus {
  outline: none;
}


.map {
  display: block;
  position: relative;
  z-index: 0;
}
.map iframe {
  border: 0;
}


/*Footer*/

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  position: absolute;
  width: inherit;
  transform: translateY(-119px);
  color: var(--basic-black);
  background-color: rgba(255, 255, 255, 0.8);
  padding-bottom: 10px;
  padding-top: 23px;
}
.inner-page .main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  position: absolute;
  width: inherit;
  transform: translateY(-5px);
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding-top: 19px;
}
.footer-contacts {
  padding-left: 68px;
}
.sedona-hashtag {
  margin-top: 5px;
  margin-bottom: 10px;
}
.sedona-phone {
  margin-top: 9px;
}
.footer-hashtag,
.footer-phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
}

/* Social list */

.footer-social {
  padding-top: 20px;
}

.social-list {
  display: flex;
  width: 150px;
  margin: auto;
}
.social-list li + li {
  margin-left: 6px;
}
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  background-color: var(--lightblue);
}
.social-button:hover {
  background-color: var(--lightblue-hover);
}
.social-button:focus {
  background-color: var(--lightblue-focus);
}
.social-button:focus path {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  margin: 0;
  justify-content: flex-end;
  padding-right: 140px;
  padding-top: 22px;
}
.copyright-text {
 padding-top: 10px;
}
.button:hover path {
  fill: var(--lightblue-hover);
}
.button:focus path {
  fill: var(--gray-focus);
}


/*catalog.html*/

h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.filter-option,
.filter-wrap,
.results-filter,
.catalog-items,
.results-control,
.catalog-list,
.social-list {
  list-style: none;
  padding: 0;
}
.site-navigation-current a {
  color: var(--basic-brown);
}

/* Filters */

.filters {
  display: flex;
  justify-content: space-around;
}

.filter {
  display: flex;
}

.filter-wrap {
  display: flex;
  flex-direction: column;
  margin: 0;
}

fieldset {
  padding: 8px 111px 48px 8px;
  margin: 0;
  border: none;
  width: 137px;
}
.filters p {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 10px;
}

.housing {
  left: 489px;
}

.filter fieldset:last-child {
  margin-left: auto;
  padding-left: 237px;
  padding-top: 10px;
}

.filters {
  color: var(--basic-white);
  background-image: url("../img/background.jpg");
  background-color: var(--lightblue);
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  top: 14px;
  left: 40px;
}

.filter-option {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
.filter-option:not(:last-child) {
  margin-bottom: 25px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:disabled {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}
.filter-price {
  width: 317px;
  margin-top: 10px;
}

.range-controls {
  position: relative;
}
.range-controls .scale {
  width: 316px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  margin-top: 20px;
  margin-bottom: 33px;
}
.range-controls .bar {
  width: 252px;
  height: 2px;
  background: var(--basic-white);
}
.range-controls .toggle {
  position: absolute;
  top: -8px;
  left: 0;
  width: 2px;
  height: 2px;
  padding: 0;
  border: 7px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 #cfcfcf;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: -1px;
}
.range-controls .toggle-max {
  left: 252px;
}
.range-controls .toggle:hover {
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
}

.price-controls {
  display: flex;

}
.price-controls input {
  width: 152px;
  height: 30px;
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid white;

}
.min-price input {
  border-radius: 3px 0px 0px 3px;
  border-right: none;
}
.max-price input {
  border-radius: 0px 3px 3px 0px;
  border-left: none;
}

.input-line {
  position: absolute;
  top: 64px;
  right: 159px;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}

.price-button {
  width: 137px;
  height: 36px;
  margin-left: 82px;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 3px;
}
.price-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);

}


/* Results */
.results {
  display: flex;
  padding: 0 57px 0 72px;
  align-items: baseline;
  position: relative;;
}
.results::after {
  content: "";
  position: absolute;
  transform: translateX(-71px) translateY(72px);
  width: 1200px;
  height: 2px;
  background-color: var(--form-gray);
}

.results-control {
  display: flex;
  margin-left: auto;
}
.results-control-up {
  margin-right: 9px;
}
.results-filter {
  display: flex;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
.results-filter li{
  width: 93px;
  text-align: center;
}

.results-current {
  width: 155px;
  white-space: nowrap;
  margin-top: 29px;
  margin-left: 17px;
}
.results-dropdown-visited a {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--lightblue-focus);
}
.results-dropdown a {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-gray);
  border-bottom: 2px dotted rgba(102,158,192,1);
}

.results-dropdown a:hover {
  color: var(--lightblue);
}
.results-dropdown a:active {
  color: var(--basic-black);
}
.results-dropdown-visited a:active {
  color: var(--basic-black);
}
a.type-dropdown:active,
a.rating-dropdown:active,
a.price-dropdown:active {
  border-bottom: none;
}



.results-control-up:hover path {
  fill: var(--basic-black);
}
.results-control-up:active path {
  fill: var(--lightblue-focus);
}
.results-control-down:hover path {
  fill: var(--basic-black);
}

/* Catalog */

.catalog-items {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.catalog-items li {
  padding: 20px 73px 38px 70px;
}

.catalog-box {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.catalog-option {
  display: flex;
  align-items: flex-end;
}
.catalog-option::before {
  content: "";
  position: absolute;
  transform: translateX(-70px) translateY(34px);
  width: 1200px;
  height: 2px;
  background-color: var(--form-gray);
}
.inner-page .main-footer::before {
  content: "";
  position: absolute;
 /* transform: translateY(6px);*/
  width: 1200px;
  height: 2px;
  background-color: var(--form-gray);

}

.catalog-price {
  width: 110px;
  margin-right: 30px;
}
.catalog-category {
  display: flex;
  white-space: pre-wrap;
  justify-content: space-between;
  margin: 9px 0 17px 0;

}

.catalog-title a {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}
.catalog-title {
  margin: 0;
  padding: 0;
}
.catalog-title a:hover {
  color: var(--lightblue);
}
.catalog-title a:active {
  color: var(--gray-focus);
}
.catalog-category,
.catalog-price {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-color);
}
.catalog-option .details,
.catalog-option .booking {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  padding: 4px 17px;
}
.catalog-option .details {
  background-color: var(--lightblue);
}
.catalog-option .details:hover {
  background-color: var(--lightblue-hover);
}
.catalog-option .details:focus {
  background-color: var(--lightblue-focus);
  color: rgba(255, 255, 255, 0.5);
}
.catalog-option .booking {
  background-color: var(--basic-brown);
}
.catalog-option .booking:hover {
  background-color: var(--brown-hover);
}
.catalog-option .booking:focus {
  background-color: var(--brown-focus);
  color: rgba(255, 255, 255, 0.5);
}
.catalog-option .rating {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-gray);
  background-color: var(--form-gray);
  margin: 0;
  margin-left: auto;
  padding-top: 5px;
  width: 110px;
  height: 22px;
  position: relative;
}
.catalog-option .star {
  position: absolute;
  width:19px;
  height: 17px;
  background-image: url("../img/star.svg");
}
.catalog-option .star-1 {
  transform: translateX(1038px) translateY(-72px);
}
.catalog-option .star-2 {
  transform: translateX(1015px) translateY(-72px);
}
.catalog-option .star-3 {
  transform: translateX(991px) translateY(-72px);
}
.catalog-option .star-4 {
  transform: translateX(966px) translateY(-72px);
}

/*Animation*/

@keyframes down-scroll {
  0% {
    transform: translateX(316px) translateY(-396px);
  }
  100% {
    transform: translateX(316px) translateY(0);
  }
}

.popup--open {
  display: flex;
  animation-name: down-scroll;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
}

.modal-close {
  display: none;
}




