/*Variables*/

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-gray: #666666;
  --basic-brown: #766357;
  --lightblue: #81b3d2;
  --lightblue-hover: #669ec0;
  --lightblue-focus: #5496bd;
  --text-color: #333333;
  --brown-hover: #604e43;
  --brown-focus: #503e33;
  --features-gray: #eeeeee;
  --form-gray: #f2f2f2;
  --gray-hover: #ebebeb;
  --gray-focus: #e5e5e5;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-repeat: no-repeat;

}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}


/* Main navigation */

.main-navigation {
  padding: 15px 72px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: var(--basic-black);
  position: relative;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/*.site-navigation .photo-video {
 margin-left: 140px;
}
.site-navigation .header-info {
  margin-right: auto;
}
*/

/* User navigation */

.site-navigation a {
  color: var(--basic-black);
}
.site-navigation a:hover {
  color: var(--lightblue);
}
.site-navigation a:focus {
  color: var(--basic-brown);
}

/*Welcome group*/

.welcome-group {
  background-color: var(--basic-black);
  text-align: center;
  background-image: url("../img/background-photo.jpg");
}
.welcome-title {
  padding: 80px 370px;
}


.description h3 {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 16px;
  padding-left: 365px;
  padding-right: 365px;
  padding-top: 47px;


}
.description p {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: var(--text-color);
  padding-left: 340px;
  padding-right: 341px;
  padding-bottom: 51px;
}


/* Features */

.features-list {
  list-style: none;
  padding: 0;
}
.feature-list h3 {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;

}
.benefits h3,
.benefits p {
  text-align: center;
}
.city {
  padding: 20px 45px;
}
.city-image img {
  display: block;
}
.bridge-image img {
  display: block;
}

.feature-item-city,
.feature-item-bridge {
  color: var(--basic-white);
  background-color: var(--lightblue);
}

.benefits-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  text-align: center;
  padding: 0;
}

.feature-item-square,
.feature-item-road,
.feature-item-silence {
  color: var(--text-color);
  background-color: var(--features-gray);
}
.feature-item-square {
  padding: 54px 80px;
}
.feature-item-road {
  padding: 54px;
}
.feature-item-silence {
  padding: 54px 77px;
}
.feature-item-city {
  display: grid;
  grid-template-columns: 400px 1fr;
}
.feature-item-bridge {
  display: grid;
  grid-template-columns: 1fr 400px;
}

/*Recommendations*/

.recommendations-list {
  display: flex;
  padding: 0;
  list-style: none;
  text-align: center;
}

.recommendations h3 {
  padding-top: 160px;
  margin-bottom: 25px;
  font-size: 21px;
  line-height: 21px;
}

.recommendations p {
  color: var(--text-color);
}
.gifts {
  padding-left: 66px;
  padding-right: 65px;
}
.food {
  padding-bottom: 80px;
  margin-left: 60px;
  margin-right: 60px;
}
.home {
  padding-left: 63px;
  padding-right: 73px;
}

/* Hotel-search*/

.hotel-search {
  text-align: center;
}
.hotel-search h2 {
  text-align: center;
  font-size: 30px;
  line-height: 24px;
  padding-top: 58px;
}
.intro {
  height: 300px;
}
.intro p {
  padding-bottom: 54px;
}
.sedona-hotels {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}
.sedona-hotels:hover {
  background-color: var(--brown-hover);
}
.sedona-hotels:focus {
  background-color: var(--brown-focus);
  opacity: 0.5;
}
.search-button {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--lightblue);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}
.search-button:hover {
  background-color: var(--lightblue-hover);
}
.search-button:focus {
  background-color: var(--lightblue-focus);
  opacity: 0.5;
}
.booking-form {
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0 7px 15px 0 #000101;
}
.booking-form label {
  font-size: 14px;
  line-height: 26px;
}
.booking-form input {
  font: inherit;
  background-color: var(--form-gray);
  border: none;
}
.booking-form input:hover {
  background-color: var(--gray-hover);
}
.booking-form input:focus {
  background-color: var(--gray-focus);
  border: 1px solid #666666;
}


/*Footer*/

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding-bottom: 36px;
  padding-top: 36px;
}

.footer-hashtag,
.footer-phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
}

/* Social list */

.social-button {
  color: var(--lightblue);
}
.social-button:hover {
  background-color: var(--lightblue-hover);
}
.social-button:focus {
  background-color: var(--lightblue-focus);
  opacity: 0.5;
}
.footer-copyright .button:hover {
  color: var(--lightblue-hover);
}
.button:focus {
  color: var(--basic-gray);
}

/*catalog.html*/

h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.filter-option,
.results-filter,
.catalog-list,
.social-list {
  list-style: none;
}
.site-navigation-current a {
  color: var(--basic-brown);
}

/* Filters */

.filter {
  display: grid;
  grid-template-columns: 210px 310px 1fr;
}
fieldset {
  padding: 28px 72px;
}
.filters fieldset {
  border: none;
}
.filters legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
.filters {
  color: var(--basic-white);
  background-image: url("../img/background-photo.jpg");
  background-color: var(--lightblue);
}
.filter-option {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
.price-option,
.price-button {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}


/* Results */

.results-filter {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
.results-dropdown-active a {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--lightblue-focus);
}
.results-dropdown a {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  text-decoration: dotted;/* не сработало */
  text-decoration-color: var(--lightblue);
}
.results-dropdown a:hover {
  color: var(--lightblue);
}
.results-dropdown a:focus {
  color: var(--basic-black);
}

/* Catalog */

.catalog-title a {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}
.catalog-title a:hover {
  color: var(--lightblue);
}
.catalog-title a:focus {
  color: var(--basic-black);
}
.catalog-category,
.catalog-price {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-color);
}
.catalog-option .details,
.catalog-option .booking {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}
.catalog-option .details {
  background-color: var(--lightblue);
}
.catalog-option .details:hover {
  background-color: var(--lightblue-hover);
}
.catalog-option .details:focus {
  background-color: var(--lightblue-focus);
  opacity: 30%;
}
.catalog-option .booking {
  background-color: var(--basic-brown);
}
.catalog-option .booking:hover {
  background-color: var(--brown-hover);
}
.catalog-option .booking:focus {
  background-color: var(--brown-focus);
  opacity: 30%;
}
.catalog-option .rating {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-gray);
  background-color: var(--form-gray);
}

